.img-wrapper {
  background-color: #0c79df;
  border-radius: 5px;
  border: 5px solid #0c79df;
  display: flex;
  max-height: 200px;
  width: 300px;

  img {
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
